// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// TLH Colors
$tlh-purple: #5A0076;
$tlh-beige: #D2C5C0;
$tlh-light-purple: #A76281;
$tlh-fading-purple: #CFB3CD;
$tlh-yellow: #FBD9CA;
$tlh-green: #B3DCD6;
$tlh-avatar-purple:#512771;
$tlh-fader-purple: #ecdfeb;
$tlh-dark-purple: #260132;
$tlh-footer-p: #740297;
$tlh-bg-gray: #f7f7f7;
$tlh-bolder-green: #54ab9f;
$tlh-dark-gray:  #7b7b7b;
//Background color
$bgc1: #C4C4C4;
$bgc2: #F7F5F2;



