<div class="container pt-3">

  <h2>Editar Artigo</h2>

  <%= render 'form', article: @article %>
  <div class="auth-links">
    <%= link_to "Voltar", :back, class: "btn btn-info gray soft" %>
    <br>
  </div>
</div>