<div class="banner--about">
    <div>
        <h1 class="banner__title">Sobre Nós</h1>
        <h2 class="banner__subtitle">Conheça-nos</h2>
    </div>
</div>
<div class="container text-pic-subban">
    <h1 class="text-pic-subban__title">Quem Somos</h1>
    <hr class="text-pic-subban__hr">
    <div class="text-pic-subban__text-box-full">
      <p class="text-pic-subban__paragraph">Nossos profissionais são executivos de mercado, com experiência internacional em gestão e liderança de equipes, que conhecem a dinâmica empresarial e o ambiente de multinacionais, além de possuírem sólido background acadêmico e formações diversas na área de desenvolvimento humano.
      </p>
      <p class="text-pic-subban__paragraph">Focados em resultado e apaixonados por desenvolvimento humano, criamos uma metodologia com foco em propósito, para auxiliar as pessoas a viverem mais felizes com suas carreiras.
      </p>
    </div>
</div>

<div class="subbaner--white">
  <div class="container pb-4">
    <h1 class="text-pic-subban__title">Nossa equipe</h1>
    <hr class="text-pic-subban__hr">
    <div class="row">
      <div class="col-md-6 col-sm-6 mb-3">
        <h1 class="member-square-pic-box__h1">Graziele Neves</h1>
        <h1 class="member-square-pic-box__h2">CEO & Fundadora</h1>
        <div class="member-square-pic-box">
          <%= image_tag "team-member-1.jpg", class:"member-pic" %>
        </div>
          <%= image_tag "certificates-member-1.png", class:"member-certificates" %>
        <div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="member-text">
          <p>Coach (ACC), certificada e reconhecida pela International Coach Federation, sou executiva e Ex-Country Manager (CEO) na Sephora Portugal/LVMH. Trabalhei por 20 anos no setor de varejo liderando e desenvolvendo equipes de alto desempenho.

          Tenho vasta experiência de trabalho em ambiente multicultural e ao longo da minha carreira fui responsável pela estratégia, operação, vendas e expansão de grandes empresas no Brasil e em Portugal, como Sephora, Cinemark, Lojas Renner, Centauro / Grupo SBF , Claro Telecom.

          Nos últimos 8 anos na Sephora, tive a oportunidade de participar da startup e expansão da Sephora Brasil (inauguração de 28 lojas e 11 quiosques), sendo responsável pela estruturação da área de Varejo (Vendas, Expansão e Operações). Em Portugal, como Country Manager, contribuí para a mudança da cultura organizacional, aumento da notoriedade da marca, crescimento de market share e lançando o site Sephora.pt.

          Focada em resultados, apaixonada por desenvolvimento humano e reconhecida pela alta energia, comunicação e gestão de pessoas, após 20 anos de vida corporativa, decidi abraçar uma jornada empreendedora e criar a “The Lighthouse” - uma consultoria focada em orientação e propósito de carreira para auxiliar as pessoas a viverem mais felizes com suas carreiras.
          </p>
          <ul>
            <li>Coach ACC com certificação internacional  pela ICF.</li>
            <li>Mentora do Mestrado de Business da Universidade Católica do Porto.</li>
            <li>Executiva de Retail, ex-CEO da Sephora Portugal, com carreira internacional e mais de 20 anos de experiência em gestão, liderança e desenvolvimento de pessoas.</li>
            <li>Certificações na área de Programação Neurolinguística e testes psicológicos (MBTI, FIRO B).</li>
            <li>Sólido background acadêmico – formação em Comunicação, pós graduação em Marketing e MBA em Gestão pela FGV-SP/BR.</li>
            <li>Focada em resultado e apaixonada por desenvolvimento humano, fundou a The Lighthouse e desenvolveu uma metodologia com foco em propósito para auxiliar as pessoas a viverem mais felizes em suas carreiras.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>



