<div class="banner about">
    <div class="banner-text">
        <h1>Sobre a The Lighthouse</h1>
        <h2>Ajudando-te a encontrar seu propósito</h2>
    </div>
</div>
<div class="container people-and-company-banner">
    <h1 style="padding-top:60px">Manifesto</h1>
    <hr>
    <div class="container pl-0 pb-3">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, quam voluptas dolor doloremque minus tempore eveniet facilis repellat minima provident culpa quidem optio suscipit nobis modi perspiciatis sed quae corporis.
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque quo nihil excepturi repellat perspiciatis enim! Excepturi harum nesciunt doloribus consectetur id, dolorum similique, iusto sed necessitatibus earum rem ex accusamus.
        </p>
    </div>
</div>
<div class="jumbotron people-and-company-banner about">
    <h1 style="padding-top:60px">Nosso time</h1>
    <hr>
    <div class="container pl-0 pb-3">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, quam voluptas dolor doloremque minus tempore eveniet facilis repellat minima provident culpa quidem optio suscipit nobis modi perspiciatis sed quae corporis.
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque quo nihil excepturi repellat perspiciatis enim! Excepturi harum nesciunt doloribus consectetur id, dolorum similique, iusto sed necessitatibus earum rem ex accusamus.
        </p>
    </div>
</div> 
