<div class="banner--about">
    <div>
        <h1 class="banner__title">Quem somos</h1>
        <%# <h2 class="banner__subtitle">Conheça-nos</h2> %>
    </div>
</div>
<div class="container justified-text-subban">
  <h1 class="justified-text-subban__title">Manifesto</h1>
  <hr class="justified-text-subban__hr">
  <div class="justified-text-subban__text-box-full">
    <p class="justified-text-subban__paragraph">O que falta para você iniciar uma transformação em sua vida e ser mais feliz?</p>
    <p class="justified-text-subban__paragraph">
    Não tenha medo de recomeçar, de deixar trabalhos e empregos que não te trazem alegria, de tirar da sua vida pessoas ou relações que não te fazem bem, não tenha medo de crescer… Apaixone-se pelo seu processo e não se distraia! 
    Se não reconhecermos e conectarmos de alguma forma com os nossos interesses e paixões mais profundas, podemos seguir vivendo às custas das expectativas dos outros, sem ter qualquer satisfação pessoal e profissional, sendo que na maioria das vezes, o que é “incrível” para os outros, não serve pra nós.
    </p>
    <p class="justified-text-subban__paragraph">
    A sua situação atual não é a “estação final”, mas só você determina onde vai chegar. Então protagonize e assuma o comando da sua vida. Você não estará desistindo, estará apenas fazendo novas escolhas, “as suas escolhas”, as escolhas que fazem sentido pra você. 
    A vida é muito curta pra desperdiçar e nos dedicar ao que não amamos. Inicie agora a sua transformação: o primeiro passo de uma grande mudança acontece internamente.
    </p>
    <p class="justified-text-subban__paragraph">
    Se não for agora, quando?
    </p>
  </div>
</div>

<div class="subbaner--white">
  <div class="container pb-4">
    <h1 class="justified-text-subban__title">Nossa equipe</h1>
    <hr class="justified-text-subban__hr">
    <div class="justified-text-subban__text-box-full">
      <p class="justified-text-subban__paragraph">Nossos profissionais são executivos de mercado, com experiência internacional em gestão e liderança de equipes, que conhecem a dinâmica empresarial e o ambiente de multinacionais, além de possuírem sólido background acadêmico e formações diversas na área de desenvolvimento humano.
      </p>
      <p class="justified-text-subban__paragraph">Focados em resultado e apaixonados por desenvolvimento humano, criamos uma metodologia com foco em propósito, para auxiliar as pessoas a viverem mais felizes com suas carreiras.
      </p>
    </div>
    <div class="container pt-5 pb-3" style="border-top: 1px solid #5A0076">
      <h1 class="member-square-pic-box__h1">Graziele Neves, Founder</h1>
    </div>
    <div class="row"  >
      <div class="col-md-4 col-sm-6 mb-3">
        <%# <h1 class="member-square-pic-box__h2">CEO & Fundadora</h1> %>
        
        <%= image_tag "team-member-1.jpg", class:"member-pic" %>
      
        <%= image_tag "certificates-member-1.png", class:"member-certificates" %>
        <div style="padding-top: 50px;">
          <ul class="list-inline-centered">
            <li class="team-contact-icons">
              <a href="https://linkedin.com/in/graziele-neves" title="Linkedin da Grazi" target="_blank" class="team-contact-icons__icon">
                <i class="fab fa-linkedin fa-lg"></i>
              </a>
            </li>
            &nbsp;&nbsp;
            <li class="team-contact-icons">
              <a href="mailto:grazi@discoverthelighthouse.com" title="Email da Grazi" target="_blank" class="team-contact-icons__icon">
                  <i class="far fa-envelope fa-lg"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-8 col-sm-6">
        <div class="member-text">
          <p>Bacharel em comunicação Social, Especialista em Marketing e Pós graduada em gestão de Negócios pela FGV. Executiva de carreira e Ex-Country Manager (CEO) na Sephora Portugal (LVMH). Atuei por 20 anos no setor de Retail liderando e desenvolvendo equipes de alta performance.
          <p>
          Associate Certified Coach (ACC), pela International Coach Federation – ICF, com formação em PNL e certificações nas ferramentas MBTI I, II e Firo-B. Atualmente, uma das Mentoras do Mestrado de Business da Universidade Católica do Porto. Tenho vasta experiência de trabalho em ambientes multiculturais e ao longo da minha carreira fui responsável pela estratégia, operação, vendas e expansão de grandes empresas no Brasil e em Portugal, como Sephora, Cinemark, Lojas Renner, Centauro / Grupo SBF , Claro Telecom.
          </p>
          <p>
          Focada em resultados, apaixonada por desenvolvimento humano e reconhecida pela alta energia, gestão de pessoas e comunicação, após 20 anos de vida corporativa, decidi abraçar uma jornada empreendedora e criar a “The Lighthouse” para auxiliar as pessoas a viverem mais felizes com suas carreiras.
          </p>
        </div>
      </div>
    </div>


    <div class="container pt-5 pb-3" style="border-top: 1px solid #5A0076">
      <h1 class="member-square-pic-box__h1">Ricardo Penna, Partner</h1>
    </div>
    <div class="row flex-column-reverse flex-md-row"  >
      
      <div class="col-md-8 col-sm-6">
        <div class="member-text">
          <p>Administrador de Empresas pela Universidade Mackenzie e com diversas especializações nas áreas de Comunicação Empresarial e Gestão de Pessoas pela ESPM, FIA, FGV e FAAP.
          <p>
          Com 19 anos de atuação na área de Recursos Humanos em multinacionais de grande porte dos mercados Farmacêutico, Varejo e Educação, desenvolvi projetos voltados para a Gestão de Pessoas e Cultura Organizacional.
          </p>
          <p>
          Ocupei por 10 anos posições executivas no Brasil e América Latina que me proporcionaram uma visão multicultural da gestão de pessoas e negócios. 
          </p>
          <p>
          Especializado em Treinamento e Desenvolvimento liderei a implementação de estratégias de alavancagem de negócios através do desenvolvimento de profissionais e times de alta performance.
          </p>
          <p>Acredito muito no potencial das pessoas e ao longo da minha carreira, seja na gestão do meu próprio time ou no desenvolvimento dos programas de treinamento, pude ajudar muitos profissionais a exercer seu potencial, alavancar seus resultados e construir uma carreira próspera e feliz.
          </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 mb-3">
        <%# <h1 class="member-square-pic-box__h2">CEO & Fundadora</h1> %>
        
        <%= image_tag "team-member-2.jpg", class:"member-pic" %>
      
        <%= image_tag "certificates-member-2.png", class:"member-certificates" %>
        <div style="padding-top: 50px;">
          <ul class="list-inline-centered">
            <li class="team-contact-icons">
              <a href="https://www.linkedin.com/in/ricardo-penna-52298b16/" title="Linkedin do Ricardo" target="_blank" class="team-contact-icons__icon">
                <i class="fab fa-linkedin fa-lg"></i>
              </a>
            </li>
            &nbsp;&nbsp;
            <li class="team-contact-icons">
              <a href="mailto:ricardo@discoverthelighthouse.com" title="Email do Ricardo" target="_blank" class="team-contact-icons__icon">
                  <i class="far fa-envelope fa-lg"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    
  </div>
</div>



