<div class="banner--about">
    <div>
        <h1 class="banner__title">Sobre a The Lighthouse</h1>
        <h2 class="banner__subtitle">Ajudando-te a encontrar seu propósito</h2>
    </div>
</div>
<div class="container text-pic-subban">
    <h1 class="text-pic-subban__title">Manifesto</h1>
    <hr class="text-pic-subban__hr">
    <div class="text-pic-subban__text-box-full">
        <p class="text-pic-subban__paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, quam voluptas dolor doloremque minus tempore eveniet facilis repellat minima provident culpa quidem optio suscipit nobis modi perspiciatis sed quae corporis.
        </p>
        <p class="text-pic-subban__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque quo nihil excepturi repellat perspiciatis enim! Excepturi harum nesciunt doloribus consectetur id, dolorum similique, iusto sed necessitatibus earum rem ex accusamus.
        </p>
    </div>
</div>
<div class="subbanner--fading-purple">
  <div class="demo">
    <div class="container">
      <h1 class="text-pic-subban__title">Nosso time</h1>
      <hr class="text-pic-subban__hr">
      <div class="row" style="justify-content:center">
          <div class="col-md-8 col-sm-6">
            <div class="our-team">
              <div class="pic">
                <%= image_tag "team-member-1.jpg" %>
              </div>
              <ul class="social">
                <li><a href="#" class="fab fa-facebook"></a></li>
                <li><a href="#" class="fab fa-google-plus"></a></li>
                <li><a href="#" class="fab fa-twitter"></a></li>
              </ul>
              <div class="team-content">
                <h3 class="title">Graziele Neves</h3>
                <span class="post">Founder e CEO</span>
              </div>
              <p class="description">
                Gestora de negócios e ex-CEO da Sephora Portugal, Coach certificada pela ICF, com mais de 20 anos de experiência em liderança, gestão e desenvolvimento de pessoas. Atuou em grandes empresas de varejo e serviços no Brasil e em Portugal. Formada em Comunicação, pós graduada em Marketing e com MBA em gestão empresarial, possui também certificações internacionais em MBTI, Firo B e Programação Neurolinguística.
              </p>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

