<div class="banner">
  <div class="banner-text">
    <h1>Descubra seu Propósito</h1>
    <h2>Conheça a The Lighthouse</h2>
  </div>
</div>
<div class="comp-banner">
  <div class="card-category">
    <%= image_tag "company.jpg" %>
  </div>
  <div class="card-category text">
    <h2>Lorem Ipsum</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis laborum accusantium hic et enim! Ea, iure! Nisi facilis enim nulla, eaque error beatae ab delectus ad ea repudiandae neque debitis. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id, molestias! Possimus cumque neque ducimus, recusandae a odio labore eaque nihil odit doloribus iure mollitia exercitationem, impedit maiores delectus rerum earum?
    </p>
  </div>
</div>
<div class="service-banner">
  <div class="service-header">
    <h2>Serviços</h2>
  </div>
  <div class="splide" data-splide='{"type":"loop","perPage":2, "perMove":1, "arrows":"splide"}'>
    <div class="splide__slider"> <!-- relative -->
      <div class="splide__track">
        <div class="splide__list">
          <div class="splide__slide">
            <div class="service-card">
              <div class="meta">
                <div class="photo" style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-1.jpg)"></div>
                <%# <ul class="details">
                  <li class="author"><a href="#">John Doe</a></li>
                  <li class="date">Aug. 24, 2015</li>
                </ul> %>
              </div>
              <div class="description">
                <h1>Learning to Code</h1>
                <h2>Opening a door to the future</h2>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
                <p class="read-more">
                  <a href="#">Read More</a>
                </p>
              </div>
            </div>
          </div>
          <div class="splide__slide">
            <div class="service-card">
              <div class="meta">
                <div class="photo" style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-2.jpg)"></div>
                <%# <ul class="details">
                  <li class="author"><a href="#">John Doe</a></li>
                  <li class="date">Aug. 24, 2015</li>
                </ul> %>
              </div>
              <div class="description">
                <h1>Learning to Code</h1>
                <h2>Opening a door to the future</h2>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
                <p class="read-more">
                  <a href="#">Read More</a>
                </p>
              </div>
            </div>
          </div>
          <div class="splide__slide">
            <div class="service-card">
              <div class="meta">
                <div class="photo" style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-1.jpg)"></div>
                <%# <ul class="details">
                  <li class="author"><a href="#">John Doe</a></li>
                  <li class="date">Aug. 24, 2015</li>
                </ul> %>
              </div>
              <div class="description">
                <h1>Learning to Code</h1>
                <h2>Opening a door to the future</h2>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
                <p class="read-more">
                  <a href="#">Read More</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="service-km">
    <p>
      <%= link_to "services", class: "btn btn-info purple" do %>
        Saiba Mais
      <% end %>
    </p>
   </div>
</div>
<div class="people-and-company-banner">
  <div class="row">
    <div class="col-md-5" style="padding-left:40px;">
      <h2 style="margin-top:80px">Para Você</h2>
      <hr>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum id delectus sed placeat? Nisi modi tempora delectus veritatis?</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab recusandae debitis velit tempore voluptates repellat nemo iste libero temporibus quo expedita, veritatis. Modi.</p>
      <p>
        <%= link_to "leaders", class: "btn btn-info purple" do %>
          Saiba Mais
        <% end %>
      </p>
    </div>
    <div class="col-md-7 d-none d-md-block" style="padding-right:0px">
			<div class="people-banner-img"></div>
		</div>
  </div>
</div>
<div class="people-and-company-banner">
  <div class="row">
    <div class="col-md-7 d-none d-md-block" style="padding-left:0px">
			<div class="company-services-banner-img"></div>
		</div>
    <div class="col-md-5" style="padding-left:40px;">
      <h2 style="margin-top:80px">Para Empresas</h2>
      <hr>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum id delectus sed placeat? Nisi modi tempora delectus veritatis?</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab recusandae debitis velit tempore voluptates repellat nemo iste libero temporibus quo expedita, veritatis. Modi.</p>
      <p>
        <%= link_to "companies", class: "btn btn-info purple" do %>
          Saiba Mais
        <% end %>
      </p>
    </div>
  </div>
</div>



