<div class="container justified-text-subban">
  <h1 class="justified-text-subban__title">Política de Privacidade</h1>
  <hr class="justified-text-subban__hr">
  <div class="justified-text-subban__text-box-full">
    <p class="justified-text-subban__paragraph">A The Lighthouse, enquanto entidade responsável por esse website (www.discoverthelighthouse.com), respeita os direitos à privacidade e proteção de dados dos usuários desse website e não coleta dados pessoais sem que eles sejam fornecidos de forma voluntária por seus usuários.
    </p>
    <p class="justified-text-subban__paragraph">
    Como entidade responsável por esse website, a The Lighthouse assegura a seus usuários que todos os dados fornecidos serão usados unicamente para os motivos aqui descritos, e serão tratados com com toda a garantia de segurança e confidencialidade de acordo com as leis de proteção de dados aplicáveis à UE e Brasil.
    </p>
    <p class="justified-text-subban__paragraph">
    A The Lighthouse é igualmente responsável pelo tratamento dos dados pessoais coletados. Se desejado, o detentor dos dados pessoais pode corrigir e deletar os dados fornecidos. Para tanto, basta enviar um pedido escrito para a The Lighthouse usando o seguinte email: contato@discoverthelighthouse.com.
    </p>
    <h2 class="justified-text-subban__title">Formulário de Contato e Dados de Utilização</h1>
    <p class="justified-text-subban__paragraph">
    Nos Formulários de Contato existentes nesse website, há dados pessoais coletados, por si mesmo ou através de terceiros, tais como: nome; sobrenome; número de telefone; nome da empresa; e-mail.
    </p>
    <p class="justified-text-subban__paragraph">
    Os Dados Pessoais poderão ser fornecidos livremente pelo Usuário, ou, no caso dos Dados de Utilização, coletados automaticamente ao se utilizar este Website.
    </p>
    <p class="justified-text-subban__paragraph">
    A menos que especificado diferentemente, todos os Dados solicitados por este Website são obrigatórios e a falta de fornecimento destes Dados poderá impossibilitar este Website de fornecer os seus Serviços. Nos casos em que este Website afirmar especificamente que alguns Dados não forem obrigatórios, os Usuários ficam livres para deixarem de comunicar estes Dados sem nenhuma consequência para a disponibilidade ou o funcionamento do Serviço.
    </p>
    <p class="justified-text-subban__paragraph">
    Os Usuários que tiverem dúvidas a respeito de quais Dados Pessoais são obrigatórios estão convidados a entrar em contato com a The Lighthouse usando o email contato@discoverthelighthouse.com.
    </p>
    <p class="justified-text-subban__paragraph">
    Quaisquer usos de cookies – ou de outras ferramentas de rastreamento – por este Website ou pelos proprietários de serviços terceiros utilizados por este Website serão para a finalidade de fornecer os Serviços solicitados pelo Usuário, além das demais finalidades descritas no presente documento e na Política de Cookies, se estiver disponível.
    </p>
    <p class="justified-text-subban__paragraph">
    Os Usuários ficam responsáveis por quaisquer Dados Pessoais de terceiros que forem obtidos, publicados ou compartilhados através deste Serviço (este Website) e confirmam que possuem a autorização dos terceiros para fornecerem os Dados para o Proprietário.
    </p>
  </div>
</div>