// @media (min-width: 480px) {
//   .carousel-item img { min-height: calc(100vh - 102px); }
// }

// @media (min-width: 768px) {
//   .carousel-item img { min-height: calc(100vh - 102px); }
// }

// @media (min-width: 992px) {
//   .carousel-item img { min-height: calc(100vh - 102px); }
// }

// Banners

.banner {
  border-top: 1px solid white;
  // border-bottom: 3px solid $tlh-purple;
  background-image: image-url("landing-2.jpg");
  min-height: calc(100vh - 99px);
  background-size: cover;
  background-position: center;
  padding: 40px 0;
  margin-top: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &__pic {
    border-top: 1px solid white;
    // border-bottom: 3px solid $tlh-purple;
    // background-image: image-url("landing-2.jpg");
    // min-height: calc(100vh - 99px);
    // background-size: cover;
    // background-position: center;
    // padding: 40px 0;
    // margin-top: 0;
    // position: relative;
    // display: flex;
    // justify-content: center;
    // align-items: center;
  }

    &__title {
      font-size: 42px;
      color: white;
      font-weight: bold;
      text-align: center;
      text-shadow: 0 1px 2px rgba(0,0,0,.6);
    }
  
    &__subtitle {
      font-size: 30px;
      color: white;
      // font-weight: bold;
      text-align: center;
      text-shadow: 0 1px 2px rgba(0,0,0,.6);
    }
}

.banner__pic--1 {
  // @extend .banner__pic;
  background-image: image-url("landing-2.jpg");
  background-size: cover;
  background-position: center;
}

.banner__pic--2 {
  @extend .banner__pic;
  background-image: image-url("leader-banner.jpg");
}

  .banner--leader {
    @extend .banner;
    background: image-url("leader-banner.jpg") no-repeat top center;
    background-size: cover;
  }

  .banner--services {
    @extend .banner;
    background: image-url("services-banner.jpg") no-repeat top center;
    background-size: cover;
  }

  .banner--company {
    @extend .banner;
    background: image-url("company-banner-m.jpg") no-repeat top center;
    background-size: cover;
  }

  .banner--about {
    @extend .banner;
    background: image-url("about-banner.jpg") no-repeat top center;
    background-size: cover;
  }

  .banner--article {
    @extend .banner;
    background: image-url("about-banner.jpg") no-repeat top center;
    background-size: cover;
  }

  .banner--empty {
    @extend .banner;
    background-size: cover;
  }

  .subbanner--fading-purple {
    background: $tlh-fading-purple;
    justify-content: center;
    padding: 10px;
      &__title {
        color: black;
        text-align: start;
        margin-top: 60px;
      }
      &__hr {
        margin-left: 0;
        margin-bottom: 30px;
        border-color: $tlh-purple;
        border-width: 3px;
        width: 48px;
        margin-top: 0;
        border-radius: 3px;
    }
  }

  .subbanner--fading-purple--extra-padding {
    @extend .subbanner--fading-purple;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .subbanner--rounded-beige {
    // background-position: 50% 0,50% 121%;
    // padding-top: 146px;
    background-image: image-url("about-us-background.svg");;
    // background-position: 50% 0,50% 100%;
    // background-size: contain,contain;
    // background-repeat: no-repeat,no-repeat;
      &__title {
        color: black;
        text-align: start;
        margin-top: 60px;
      }
      &__hr {
        margin-left: 0;
        margin-bottom: 30px;
        border-color: $tlh-purple;
        border-width: 3px;
        width: 48px;
        margin-top: 0;
        border-radius: 3px;
    }
  }
  .subbanner--curved-purple {
    // background-position: 50% 0,50% 121%;
    // padding-top: 146px;
    background-image: image-url("test-background.svg");
    background-position: 50% 20%;
    // background-position: 50% 0,50% 100%;
    // background-size: contain,contain;
    background-size: cover;
    background-repeat: no-repeat,no-repeat;
      &__title-box {
        padding-left: 20px;
        padding-top: 60px;
      }
      &__title {
        color: black;
        text-align: start;
        // margin-top: 60px;
      }
      &__hr {
        margin-left: 0;
        margin-bottom: 30px;
        border-color: $tlh-purple;
        border-width: 3px;
        width: 48px;
        margin-top: 0;
        border-radius: 3px;
    }
  }

  .subbanner--gray {
    background: $tlh-bg-gray;
    justify-content: center;
    padding: 10px;
    padding-top: 40px;
      &__title {
        color: black;
        text-align: center;
        margin-top: 60px;
      }
      &__subtitle {
        color: black;
        text-align: center;
        // margin-top: 60px;
        font-size: 1.3rem;
        font-weight: lighter;
      }
      &__hr {
        margin-left: 0;
        margin-bottom: 30px;
        border-color: $tlh-purple;
        border-width: 3px;
        width: 48px;
        margin-top: 0;
        border-radius: 3px;
    }
    &__title-box {
      // width: max-content;
      text-align: center;
      margin: 0 auto;
    }
  }

  .subbanner--white {
    background: white;
    justify-content: center;
    padding: 10px;
    padding-top: 40px;
      &__title {
        color: black;
        // text-align: center;
        margin-top: 30px;
        font-size: 2.5rem;
      }
      &__subtitle {
        color: black;
        text-align: center;
        // margin-top: 60px;
        font-size: 1.3rem;
        font-weight: lighter;
      }
      &__hr {
        margin-left: 0;
        margin-bottom: 30px;
        border-color: $tlh-purple;
        border-width: 3px;
        width: 48px;
        margin-top: 0;
        border-radius: 3px;
    }
    &__title-box {
      // width: max-content;
      // text-align: center;
      padding-left: 20px;
      margin: 0 auto;
    }
  }