.banner {
    border-top: 1px solid white;
    border-bottom: 3px solid $tlh-purple;
    background-image: image-url("landing-2.jpg");
    min-height: calc(100vh - 74px);
    background-size: cover;
    background-position: center;
    // padding: 40px 0;
    // margin-top: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &__title {
      font-size: 42px;
      color: white;
      font-weight: bold;
      text-align: center;
    }
  
    &__subtitle {
      font-size: 30px;
      color: white;
      // font-weight: bold;
      text-align: center;
    }

  }

  .banner--leader {
    @extend .banner;
    background: image-url("leader-banner.jpg") no-repeat top center;
    background-size: cover;
  }

  .banner--services {
    @extend .banner;
    background: image-url("services-banner.jpg") no-repeat top center;
    background-size: cover;
  }

  .banner--company {
    @extend .banner;
    background: image-url("company-banner.jpg") no-repeat top center;
    background-size: cover;
  }

  .banner--about {
    @extend .banner;
    background: image-url("about-banner.jpg") no-repeat top center;
    background-size: cover;
  }