.btn-info.purple {
    background: white;
    border: 2px solid $tlh-light-purple;
    border-radius: 40px;
    color: $tlh-light-purple;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 800;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 130px;
    // margin-top: 15px;
}