  .comp-card-img-height {
    height: 300px;
  }

  .flex-center {
    display: flex;
    justify-content: center;
  }

  .flex-align {
    display: flex;
    align-items: center;
  }

  .comp-banner h2 {
    font-size: 30px;
    color: black;
    // font-weight: bold;
    text-align: center;
  }

  .comp-banner p {
    text-align: justify;
    padding-top: 20px;
  }