.member-square-pic-box {
  // min-height: 480px;
  // background: image-url("team-member-1.jpg");
  display: flex;
  justify-content: center;
  &__h1 {
    text-align: center;
    font-size: 2rem;
  }
  &__h2 {
    font-size: 1.5rem;
    text-align: center;
    font-weight: lighter;
  }
}

.member-pic {
  height: 400px;
}

.member-text {
  text-align: justify;
}