.navbar-tlh {
  justify-content: space-between;
  flex-direction: row !important;
  background: $tlh-beige;
}

.navbar-tlh .navbar-collapse {
  flex-grow: 0;
}

.navbar-tlh .navbar-brand img {
  width: 50px;
  border-radius: 50%;
}


