.navbar-tlh {
  justify-content: space-between;
  flex-direction: row !important;
  background: $tlh-beige;
}

.navbar-tlh .navbar-collapse {
  flex-grow: 0;
}

.navbar-tlh .navbar-brand img {
  width: 50px;
  border-radius: 50%;
}

.logo-text {
  font-family: ondoregular;
  font-size: 1rem;
  letter-spacing: 3px;
  color: $tlh-purple !important;
}

.nav-item {
  hr {
    border: 0;
    border-top: 3px solid $tlh-purple;
    width: 0;
    margin: 0;
    transition: width 0.5s ease-out;
  }
  &:hover hr {
    width: 50%
  }
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: $tlh-purple;
  font-weight: 5;
}

.navbar-light .navbar-nav .nav-link.active {
  color: $tlh-purple;
  font-weight: normal;
}

.navbar-light .navbar-nav .nav-link {
  color: $tlh-purple;
  font-weight: lighter;
}
