.row {
    margin-right: auto;
}

.people-and-company-banner {
    background-color: white;
    hr {
        margin-left: 0;
        margin-bottom: 30px;
        border-color: $tlh-purple;
        border-width: 3px;
        width: 48px;
        margin-top: 0;
        border-radius: 3px;
    }
    h2 {
        color: black;
        text-align: start;
    }
    p {
        font-size: 18px;
        text-align: justify;
    }
    .big{
        width: 100%;
        border-width: 2px;
        margin-top: 70px;
        // margin-bottom: 70px;
        border-color: #573a69;
        
    }
}



.people-banner-img {
    background: image-url("people-banner.jpg") no-repeat center center;
    background-size: auto;
    min-height: 480px;
    background-size: cover;
}

.company-services-banner-img {
    background-image: image-url("company-services-banner.jpg");
    background-size: auto;
    min-height: 480px;
    background-size: cover;
}

.jumbotron.people-and-company-banner.about {
    background-color: white;
    // color: white;
}