.tlh-banner {
    justify-content: space-between;
    padding: 70px 0px;
    background: $tlh-bg-gray;
    // display: flex;
    // color:$tlh-avatar-purple;

    &__title {
      font-size: 30px;
      margin-bottom: 30px;
      text-align: center;
      color:$tlh-avatar-purple;
      // text-shadow: 0 1px 2px grey;
    }

    &__paragraph {
      text-align: center;
      // padding-top: 20px;
      color:$tlh-avatar-purple;
      font-size: 1.2rem;
    }

    &__hr {
      margin-bottom: 5px;
      border-color: $tlh-purple;
      border-width: 1.5px;
      width: 80%;
      margin-top: 0;
      border-radius: 3px;
    }
  }

  .tlh-banner__picbox {
    // @extend .col-md-6, .col-xl-4; 
    display: flex;
    justify-content: center;
  }

  .tlh-banner__pic {
    height: 130px;
    padding-bottom: 20px;
  }

  .tlh-banner__textbox {
    @extend .col-md-12, .col-xl-12;
    display: flex;
    align-items: center;
  }

  .tlh-banner__texts {
    box-sizing: border-box;
    width: 83.33%;
    margin-right: auto;
    margin-left: auto;
  }