.article-wrapper {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-article {
  margin: 1%;
  flex-basis: 30%;
}

/*Mobile screen*/  
@media only screen and (min-width: 375px)  {
  .flex-article {
    flex-basis: 90%;
  }
}

/*Tablet screen*/  
@media only screen and (min-width: 640px)  {
  .flex-article {
    flex-basis: 45%;
  }
}

/* Desktop screen Sizes */
@media only screen and (min-width: 995px) {
  .flex-article {
    margin: 1%;
    flex-basis: 30%;
  }
}